<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<h1 class="text-3xl font-bold text-center">
  <%= t(".title") %>
</h1>

<%= form_with url: session_path, model: User.new, class: "max-w-sm mx-auto" do |form| %>
   <div class="relative z-0 w-full mb-5 group">
    <%= form.email_field :email_address, required: true, placeholder: "",  autocomplete: :email, class: text_field_class %>
    <%= form.label :email_address, class: label_class %>
  </div>

  <div class="relative z-0 w-full mb-5 group">
    <%= form.password_field :password, required: true, placeholder: "", class: text_field_class %>
    <%= form.label :password, class: label_class %>
  </div>
  <%= form.submit t(".submit"), class: submit_class %>
<% end %>
<br>

<%#= link_to "Forgot password?", settings_password_path %>
