<h1 class="text-3xl font-bold text-center">
  <%= t(".title") %>
</h1>

<br/>

<%= form_with model: Current.user, url: settings_email_path, class: "max-w-md mx-auto" do |form| %>
  <% if form.object.errors.any? %>
    <div>Error: <%= form.object.errors.full_messages.first %></div>
  <% end %>

  <div class="relative z-0 w-full mb-5 group">
    <%= form.email_field :unconfirmed_email, required: true, placeholder: "", class: text_field_class %>
    <%= form.label :unconfirmed_email, class: label_class %>
  </div>
  
  <div class="relative z-0 w-full mb-5 group">
    <%= form.password_field :password_challenge, required: true, placeholder: "", class: text_field_class, autocomplete: "current-password" %>
    <%= form.label :password_challenge, class: label_class %>
  </div>

  <div>
    <%= form.submit t(".submit"), class: submit_class %>
  </div>
<% end %>
