<%= cache [product, Current.user] do %>
<div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
    <%= link_to product_path(product), data: { turbo: false } do %>
      <% if product.featured_image.present? %>
        <%= image_tag product.featured_image.variant(resize_to_limit: [nil, 300]),  class: "h-80 w-72 object-cover rounded-t-xl" %>
      <% end %>
    <% end %>
    <div class="px-4 py-3 w-72">
      <%= link_to product_path(product), data: { turbo: false } do %>
        <span class="text-gray-400 mr-3 uppercase text-xs">Brand</span>
        <p class="text-lg font-bold text-black truncate block capitalize"><%= product.name %></p>
      <% end %>
      <div class="flex items-center">
        <p class="text-lg font-semibold text-black cursor-auto my-3">$149</p>
        <del>
          <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
        </del>
        <div class="ml-auto">          
          <%= render 'favorite', product: product, wishlist_product_ids: wishlist_product_ids %>
        </div>
      </div>
    </div>
  </div>
<% end %>
