<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Store">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="p-5 bg-white dark:bg-gray-900 antialiased text-white">    
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    
    <nav class="navbar">
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <%= navbar_link_to "Home", root_path %>
          </li>
          <% if authenticated? %>
            <li>
              <%= navbar_link_to "Settings", settings_root_path %>
            </li>
            <li>
              <%= navbar_button_to "Log out", session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= navbar_link_to t("sign_ups.show.title"), sign_up_path %>
            </li>
            <li>
              <%= navbar_link_to t("sessions.new.title"), new_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>


    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
